* {
    margin: 0;
    font-family: 'Inter';
}

.background {
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.3),  rgba(0, 0, 0, 0.3)),
        url("assets/desktop/bg-image-daytime.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.partOne {
    width: 573px;
    height: 125px;
}

.partTwo {
    width: 1110px;
    height: 288px;
    display: flex;
}

main { 
    width: 50%;
}

aside {
    width: 50%;
}

p {
    color: white;
    font-size: 18px;
    line-height: 28px;
}

.subHeading {
    margin-top: 15px;
    font-weight: bold;
}

img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.flexxer {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.baseline {
    align-items: baseline;
}

.justCenter {
    justify-content: center;
}

.center {
    align-items: center;
}

.end {
    align-items: end;
}

h1 {
    font-size: 200px;
    color: white;
    letter-spacing: -5px;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4.8px;
    color: white;
}
.bst {
    font-size: 40px;
    font-weight: light;
}

button { 
    border: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    letter-spacing: 5px;
    background-color: white;
}

.btn {
    float: right;
    width: 146px;
    height: 56px;
    border-radius: 28px;
    background-color: white;
}

.circle:hover, 
.active:hover {
    background-color: #999999;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(assets/desktop/icon-arrow-down.svg) no-repeat scroll 13px 16px, #303030;
}

.active {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(assets/desktop/icon-arrow-up.svg) no-repeat scroll 0px 0px, #303030;
}

.popup {
    width: 100%;
    height: 50%;
    background-color: rgba(255,255,255, 0.75);
    position: absolute;
    bottom: 0;
    display: none;
}

.popupLeft,
.popupRight {
    width: 40%;
}

.popupLeft {
    height: 80%;   
}

.popupRight {
    height: 80%;
    border-left: 1px solid grey;
}

.popupLeft > div,
.popupRight > div {
    height: 100%;
}

.colorText{
    color: #303030;
}

.popupRight > div > .wrapper > p, 
.popupLeft > div > .wrapper > p {    
    font-size: 15px;
    letter-spacing: 3px;
}

.popupRight > div > .wrapper > h2, 
.popupLeft > div > .wrapper > h2 {
    font-size: 56px;
    font-weight: bold;

}

.wrapper {
    margin-top: 10px;
}

.popupRight > div > .wrapper {
    margin-left: 40px;
}

@media only screen and (max-width: 900px) {
    .background {
        background: linear-gradient( rgba(0, 0, 0, 0.3),  rgba(0, 0, 0, 0.3)),
        url("assets/tablet/bg-image-daytime.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .partTwo {
        flex-direction: column;
        align-items: flex-start;
    }

    .btn {
        float: left;
    }

    main {
        padding-bottom: 40px;
    }

    .background {
        padding-bottom: 100px;
    }

    .popup {
        bottom: -100px;
    }

    h1 {
        font-size: 175px;
    }

    .bst {
        font-size: 32px;
    }

    h2 {
        font-size: 18px;
    }

    .popupRight > div > .wrapper > p,
    .popupLeft > div > .wrapper > p {
        font-size: 13px;
        letter-spacing: 2.6px;
      }

    .popupRight > div > .wrapper > h2,
     .popupLeft > div > .wrapper > h2 {
        font-size: 40px;
      }

      .popupRight {
          border: none;
      }

      .popupRight > div > .wrapper {
        margin-left: 80px;
      }
  }